<!DOCTYPE html>
<html lang = "en">
<head>
<title>Discussion</title>
<link rel = "icon" href = "https://img.icons8.com/clouds/100/000000/home-page.png">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel = "icon" href = "https://img.icons8.com/wired/50/000000/communication-skill.png">
<style>
</style>
</head>
<body class = "w3-card-4 w3-white">
{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{post['title'] }}{% endblock %}</h1>
<div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
{% endblock %}

{% block content %}
<article class="post">
      <header>
        <div>
          <p>{{ post['body'] }}</p>
        </div>
  {% if g.user %}
  <form method="post">
    <label for="comments">Comment</label>
    <input name="comments" id="comments" value="{{ request.form['comments'] }}" required>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('auth.deletecomments', topic_id=post['topic_id'], comment_id=postcoms['comment_id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
  {% endif %}
    </article>
    <h1>Comments</h1>
  {% for postcom in postcoms %}
    <article class="post">
      <header>
        <div>
          <h1>{{ postcom['comments'] }}</h1>
          <div class="about">by {{postcom['username']}} on {{postcom['created'].strftime('%Y-%m-%d') }}</div>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
</body>
</html>


