{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Comments{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('auth.comments', topic_id=post['topic_id']) }}">Comment</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for postcom in postcoms %}
    <article class="post">
      <header>
        <div>
          <h1>{{ postcom['comments'] }}</h1>
          <div class="about">by {{postcom['username']}}</div>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}


