<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<title>Cipher</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel = "stylesheet" type = "text/css" href = "static/style.css">
	<link rel = "icon" type = "img/png" href = "static/Icons/homeIcon.png">
</head>
<body>
	<header>
		<div class="jumbotron text-center" id="head">
  			<h1>CIPHER</h1>
  			<p>Start Coding Today</p>
		</div>

		<div class="container" id="navigation">
  			<div class="row">
    			<div class="col-sm-4 col-xs-4">
    				<div class="menu">
      				<a href="{{ url_for('auth.login') }}" class="top">&nbsp<i class="fa fa-sign-in"></i>&nbsp Login &nbsp</a>
      			</div>
    			</div>
    			<div class="col-sm-4 col-xs-4">
    				<div class="menu">
      				<a href="{{ url_for('auth.register') }}" class="top">&nbsp<i class="fa fa-file-code-o"></i>&nbsp Register &nbsp</a>
      			</div>
    			</div>
    			<div class="col-sm-4 col-xs-4">
    				<div class="menu">
      			<a href="{{ url_for('auth.contact') }}" class="top" id="blue">&nbsp<i class="fa fa-phone-square"></i>&nbsp Contact Us &nbsp</a>
      		</div>
    			</div>
  			</div>
		</div>
		<div class = "row">
			<div class = "col-xs-4" id="Logo">
				<img src = "static/Icons/Logo.png">
			</div>
		</div>
	</header>
	<div class="container">
		<div class="row">
			<div class="col-xs-12" id ="information">
				<h1>ALL ABOUT CIPHER</h1>
				<p>Coding Guide For Beginners</p>
				<p>Interested in coding but don't know where to start? Don't worry, this is the place for you. We are here guide you through the initial stage of your coding journey along with our intelligent bot.</p>

			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="copyright">
						<p>This site is created by Team 2</p>
						<p>&copy Team2 2020</p>
					</div>
				</div>
			</div>
		</div>
		</footer>
</body>
</html>

